@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway&family=Roboto&display=swap');

.obtained {
  text-decoration: line-through;
  color: #FEC89A;
}

main{
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-template-rows: 5%, 5%, 10%, 25%, 50%, 5%;
  grid-template-areas: 
    "header header"
    "nav nav"
    "summary summary"
    "picture ingredients"
    "prep prep"
    "footer footer";
    font-family: 'Raleway', sans-serif;
}

.custom-nav{
  background-color: #F9DCC4;
  font-family: 'Raleway', sans-serif;
}

section{
  padding-top: 70px;
  
}
h1{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif !important;
  padding-bottom: 20px; 
}

h2{
  margin: auto;
  width: 80%;
  /* border: 3px solid green; */
  padding: 10px;
  font-family: 'Julius Sans One', sans-serif !important;
  font-size: 30px;
}

h3{
  font-size: 20px;
}

article{
  margin: auto;
  width: 70%;
  padding: 10px;
}

input{
  width: 3.5em;
  display: inline-block;
  margin: 0px 5px 0px 12px;
}

#Title{
  grid-area: header;
  background-color: #F9DCC4;
}

#Summary{
  grid-area: summary;
}
.summary-info-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
  background-color: #F9DCC4;
  border-radius: 10px;
}
.summary-info{
  display: inline-block;
  text-align: center;
  /* border: 3px solid red; */
  padding: 10px 30px 10px 5px;
  margin: 10px 10px 10px 0;
}

.icons{
  display: inline-block;
  text-align: center;
  /* border: 3px solid red; */
  padding: 10px 5px 10px 30px;
  margin: 10px 0px 10px 10px;
}


#honey-walnut-shrimp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  grid-area: picture;
  width: 75%;
  height: auto;
}

#Ingredients{
  grid-area: ingredients;
  padding-top: 105px; 
}

li { 
  list-style: square; 
} 

#Preparation{
  grid-area: prep;
}

#prepNav{
  padding-top: 100px;
}

.footer{
  grid-area: footer;
  text-align: center;
  background-color: #F9DCC4;
  font-family: 'Raleway', sans-serif;
  padding: 20px 0 5px 0;
}

a{
  text-decoration: none;
  color: black;
}


@media (max-width: 1138px) {
  .icons {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}
.summary-info {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
}

@media (max-width: 924px){
  #honey-walnut-shrimp {
    display: block;
    padding-top: 70px;
    grid-area: 4 / 1 / span 4 / span 2;
    width: 300px;
    height: auto;
  }
  #Ingredients {
    grid-area: 4 / 1 / span 4 / span 2;
    padding-top: 500px;
  }
  #Preparation {
    padding-top: 1100px;
}
}

@media (max-width: 513px) {
  .icons {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
.summary-info {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
#Preparation {
  padding-top: 1150px;
}
}


/* mobile */
@media (max-width: 320px) {
  .icons {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.summary-info {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 9px;
}
#honey-walnut-shrimp {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding-top: 70px;
  grid-area: picture / ingredients;
  width: 300px;
  height: auto;
}
#Ingredients {
  grid-area: picture / ingredients;
  padding-top: 500px;
  font-size: 12px;  
}
#Preparation {
  font-size: 12px;
}
#Summary{
  font-size: 12px;
}
.footer{
  padding: 15px 0 0px 0;
  font-size: 12px;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 18px;
}
#Preparation {
  padding-top: 0px;
}
}